<div *ngIf="absence" class="card text-white bg-light mb-3 text-black-50" style="max-width: 18rem;">
  <div class="card-header">{{absence.parentName}}</div>
  <div class="card-body">
    <h5 class="card-title">{{absence.absentStudent}}</h5>
    <p class="card-text">{{absence.reason}}</p>
    <p class="card-text">From: {{absence.startDate}}</p>
    <p class="card-text">To: {{absence.endDate}}</p>
  </div>
</div>
