<div class="container mt-5">
  <div class="row">
    <div class="col">
      <ngb-pagination [collectionSize]="collectionSize" (pageChange)="onPageChange($event)"
                      [(page)]="page" aria-label="Default pagination"></ngb-pagination>
    </div>

  </div>
  <table class="table table-striped w-100" *ngIf="pageGrade">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Subject</th>
      <th scope="col">Grading Period</th>
      <th scope="col">Type</th>
      <th scope="col">Grade</th>
      <th scope="col">Points (%)</th>
      <th scope="col">Date</th>
      <th scope="col">Comment</th>
      <th scope="col">In GPA</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let grade of pageGrade.content; let i = index">
      <th scope="row">{{i}}</th>
      <td>{{grade.courseName}}</td>
      <td>{{grade.gradingPeriod}}</td>
      <td>{{grade.type}}</td>
      <td>{{grade.name}}</td>
      <td>{{grade.points}}%</td>
      <td>{{grade.date}}</td>
      <td>{{grade.review}}</td>
      <td>{{grade.forGPA}}</td>
    </tr>
    </tbody>
  </table>
  <button *ngIf="roleState==='ROLE_TEACHER'" class="btn btn-primary rounded-pill" (click)="onNewGradeAdded()">
    Add New Grade
  </button>
</div>
