<ng-template #content let-modal>
  <div class="modal-body text-center">
    <img src="../../../assets/teach.png" alt="teacher" class="rounded-circle" *ngIf="registeringState === 'teacher'">
    <img src="../../../assets/adminka.png" alt="admin" class="rounded-circle" *ngIf="registeringState === 'admin'">
    <h3 class="mt-3">Create your {{registeringState | titlecase}} account</h3>
    <div class="mt-5">
      <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
        <div class="form-group" *ngIf="registeringState === 'teacher'">
          <div class="row">
            <div class="col-3 d-flex align-items-center">
              <label for="teacherCode">Teacher Code</label>
            </div>
            <div class="col">
              <input type="text" id="teacherCode" name="teacherCode" class="form-control" ngModel required
                     #teacherCode="ngModel">
            </div>
          </div>
          <span *ngIf="teacherCode.invalid && teacherCode.touched" class="redAlert">This is a required field</span>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-3 d-flex align-items-center">
              <label for="firstName">First Name</label>
            </div>
            <div class="col">
              <input type="text" id="firstName" name="firstName" class="form-control" ngModel required
                     #firstName="ngModel">
            </div>
          </div>
          <span *ngIf="firstName.invalid && firstName.touched" class="redAlert">This is a required field</span>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-3 d-flex align-items-center">
              <label for="lastName">Last Name</label>
            </div>
            <div class="col">
              <input type="text" id="lastName" name="lastName" class="form-control" ngModel required
                     #lastName="ngModel">
            </div>
          </div>
          <span *ngIf="lastName.invalid && lastName.touched" class="redAlert">This is a required field</span>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-3 d-flex align-items-center">
              <label for="email">Email</label>
            </div>
            <div class="col">
              <input type="text" id="email" name="email" class="form-control" ngModel required email #email="ngModel">
            </div>
          </div>
          <span *ngIf="email.invalid && email.touched" class="redAlert">Please enter a valid email</span>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-3 d-flex align-items-center">
              <label for="password">Password</label>
            </div>
            <div class="col">
              <input type="password" id="password" name="password" class="form-control" ngModel #password="ngModel">
            </div>
          </div>
        </div>
        <button class="btn btn-outline-success btn-block" type="submit" [disabled]="registerForm.invalid">
          Sign Up
        </button>
      </form>
    </div>
  </div>
</ng-template>

