img {
  width: 100px;
  height: 70px;
  max-width: 100px;
  max-height: 100px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

label {
  font-family: 'Montserrat', sans-serif;
}

.redAlert {
  color: red;
  font-family: 'Montserrat', sans-serif;
}
