<div class="biggerBorder mt-5">
  <form (ngSubmit)="onSubmit()" #formElement="ngForm">
    <div class="form-group">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label for="absentStudent">Your Student Name</label>
        </div>
        <div class="col">
          <select name="studentName" id="absentStudent" class="form-control" ngModel required #absentStudent="ngModel">
            <option value="{{student.name}}" *ngFor="let student of students$|async">{{student.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label for="absenceReason">Reason for absence</label>
        </div>
        <div class="col">
          <textarea id="absenceReason" name="absence" class="form-control" rows="3" ngModel required
                    #absenceReason="ngModel"></textarea>
          <span *ngIf="absenceReason.invalid && absenceReason.touched" class="redAlert">This is a required field</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label>Start of absence</label>
        </div>
        <div class="col-3">
          <div class="input-group">
            <input id="start-date" class="form-control" placeholder="yyyy-mm-dd"
                   name="start" [(ngModel)]="modelStart" ngbDatepicker #dStart="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-primary calendar" (click)="dStart.toggle()" type="button"><i
                class="fa fa-calendar"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label>End of absence</label>
        </div>
        <div class="col-3">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="end" [(ngModel)]="modelEnd" ngbDatepicker #dEnd="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-primary calendar" (click)="dEnd.toggle()" type="button"><i
                class="fa fa-calendar"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!formElement.valid">Create Absence</button>
  </form>
</div>
