<div class="mt-4">
  <div class="row">
    <div class="col">
      <div class="input-group mb-3" *ngFor="let course of courses$|async">
        <input type="text" id="{{course.courseId}}" class="form-control" aria-label="school course"
               aria-describedby="basic-addon2" value="{{course.courseName}}">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button" [disabled]="teacher === undefined"
                  (click)="onCourseSelected(course)">Add
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
