<ng-template #registerParentModal let-modal>
  <div class="modal-body text-center">
    <img src="../../../assets/home.jpg" alt="admin" class="rounded-circle">
    <h3 class="mt-3">Create your Parent account</h3>
    <div class="mt-5">
      <form [formGroup]="newParentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="row">
            <div class="col-3 d-flex align-items-center">
              <label for="firstName">First Name</label>
            </div>
            <div class="col">
              <input type="text" id="firstName" class="form-control" formControlName="firstName">
            </div>
          </div>
          <span *ngIf="newParentForm.get('firstName').invalid && newParentForm.get('firstName').touched"
                class="redAlert">This is a required field</span>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-3 d-flex align-items-center">
              <label for="lastName">Last Name</label>
            </div>
            <div class="col">
              <input type="text" id="lastName" class="form-control" formControlName="lastName">
            </div>
          </div>
          <span *ngIf="newParentForm.get('lastName').invalid && newParentForm.get('lastName').touched" class="redAlert">This is a required field</span>
        </div>
        <div class="row">
          <div class="col" formArrayName="children">
            <div class="row mb-3" [formGroupName]="i" *ngFor="let childrenCtl of controls;let i = index">
              <div class="col-3 d-flex align-items-center">
                <label for="child">Child {{i}}</label>
              </div>
              <div class="col-9">
                <input type="text" id="child" formControlName="childEMBG" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <button class="btn btn-success" type="button" (click)="onChildAdded()"><i class="fa fa-plus"></i></button>
          </div>
          <div class="col-9">
            <p>Add Your Children (EMBG)</p>
          </div>
        </div>
        <div class="form-group mt-3">
          <div class="row">
            <div class="col-3 d-flex align-items-center">
              <label for="email">Email</label>
            </div>
            <div class="col">
              <input type="text" id="email" class="form-control" formControlName="email">
            </div>
          </div>
          <span *ngIf="newParentForm.get('email').invalid && newParentForm.get('email').touched" class="redAlert">Please enter a valid email</span>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-3 d-flex align-items-center">
              <label for="password">Password</label>
            </div>
            <div class="col">
              <input type="password" id="password" class="form-control" formControlName="password">
            </div>
          </div>
        </div>
        <button class="btn btn-outline-success btn-block" type="submit" [disabled]="newParentForm.invalid">
          Sign Up
        </button>
      </form>
    </div>
  </div>
</ng-template>
