<div class="mt-5 ">
  <button class="btn btn-primary btn-rounded rounded-pill btn-block" id="{{courseId}}" type="button"
          (click)="onCourseSelected(courseId)"
          aria-expanded="false">
    {{courseName}}
  </button>
</div>
