<div class="container mt-5">
  <form (ngSubmit)="onSubmit()" #formElement="ngForm">
    <div class="form-group">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label for="courseName">Course Name</label>
        </div>
        <div class="col">
          <select class="form-control" id="courseName" name="courseName" ngModel required #courseName="ngModel">
            <option *ngFor="let course of courses$ | async" [value]="course.courseId">{{course.courseName}}</option>
          </select>
          <span *ngIf="courseName.invalid && courseName.touched" class="redAlert">This is a required field</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label for="gradingPeriod">Grading Period</label>
        </div>
        <div class="col">
          <input type="text" id="gradingPeriod" name="gradingPeriod" class="form-control" ngModel required
                 #gradingPeriod="ngModel">
          <span *ngIf="gradingPeriod.invalid && gradingPeriod.touched" class="redAlert">This is a required field</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label for="typeOfGrade">Type:</label>
        </div>
        <div class="col">
          <select class="form-control" id="typeOfGrade" name="typeOfGrade" ngModel required #typeOfGrade="ngModel">
            <option>Quiz</option>
            <option>Test</option>
            <option>Final Test</option>
            <option>Term Test</option>
            <option>Homework</option>
            <option>Laboratory Exercise</option>
          </select>
          <span *ngIf="typeOfGrade.invalid && typeOfGrade.touched"
                class="redAlert">Please choose the reason for grading</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label for="grade">Grade:</label>
        </div>
        <div class="col-2">
          <select class="form-control" id="grade" name="grade" ngModel required #grade="ngModel">
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
            <option>E</option>
            <option>F</option>
          </select>
          <span *ngIf="grade.invalid && grade.touched" class="redAlert">Select a grade</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label for="points">Points:</label>
        </div>
        <div class="col-2">
          <input type="number" id="points" name="points" class="form-control" min="0" max="100" ngModel
                 #points="ngModel">
        </div>
      </div>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="forGpaCheck" name="forGPA" ngModel #forGpa="ngModel">
      <label class="form-check-label" for="forGpaCheck">Include in GPA</label>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label for="comment">Leave a small review:</label>
        </div>
        <div class="col">
          <textarea id="comment" rows="3" name="comment" class="form-control" ngModel required
                    #comment="ngModel"></textarea>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!formElement.valid">Create Grade</button>
  </form>

</div>
