<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom sticky-top">
  <a class="navbar-brand" href="#">SchoolNoticesApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Learn More</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Parents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Teachers</a>
      </li>
    </ul>
    <button class="btn btn-outline-success" (click)="logIn()">Log In</button>
  </div>
</nav>
