<div class="mt-5">
  <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
      Group 3-B
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <app-students></app-students>
  </div>
</div>
