<div class="biggerBorder mt-5">
  <form [formGroup]="newStudentForm" (ngSubmit)="onSubmit()">
    <button class="btn btn-primary rounded-pill mb-4">Create Student</button>
    <div class="form-group">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label for="studentName">Student Name</label>
        </div>
        <div class="col">
          <input type="text" id="studentName" class="form-control" formControlName="name">
          <span class="redAlert" *ngIf="newStudentForm.get('name').invalid && newStudentForm.get('name').touched">
              This is a required field
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label for="studentEMBG">Student EMBG</label>
        </div>
        <div class="col">
          <input type="text" id="studentEMBG" class="form-control" formControlName="studentEMBG">
          <span class="redAlert"
                *ngIf="newStudentForm.get('studentEMBG').invalid && newStudentForm.get('studentEMBG').touched">
              This is a required field
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label for="dob">DOB</label>
        </div>
        <div class="col">
          <div class="input-group">
            <input id="dob" class="form-control" placeholder="yyyy-mm-dd"
                   name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" formControlName="dateOfBirth">
            <div class="input-group-append">
              <button class="btn btn-outline-primary calendar" (click)="d.toggle()" type="button"><i
                class="fa fa-calendar"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label for="schoolYear">Year:</label>
        </div>
        <div class="col">
          <select class="form-control" id="schoolYear" formControlName="yearEnrolledIn">
            <option>Freshman</option>
            <option>Sophomore</option>
            <option>Junior</option>
            <option>Senior</option>
          </select>
          <span class="redAlert"
                *ngIf="newStudentForm.get('yearEnrolledIn').invalid && newStudentForm.get('yearEnrolledIn').touched">
              This is a required field
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" formArrayName="courses">
        <div class="row mb-3" [formGroupName]="i" *ngFor="let ingredientCtrl of controls;let i = index">
          <div class="col-3 d-flex align-items-center">
            <label for="subject">Subject {{i}}</label>
          </div>
          <div class="col-9">
            <select class="form-control" id="subject" formControlName="subject" #selectCoursesElement>
              <option *ngFor="let course of courseTeachers"
                      value="{{[course.courseId,course.teacherId,course.teacherCode]}}">
                {{course.courseName}} - {{course.teacherName + " " + course.teacherLastName}} ({{course.teacherCode}})
              </option>

            </select>
          </div>
        </div>
        <button class="btn btn-primary" type="button" (click)="onSubjectAdded()">Enroll in Subject</button>
      </div>
    </div>

  </form>
</div>
