<div class="container mt-4 mb-4 " *ngIf="notice">
  <div *ngIf="notice" class="card text-center w-100">
    <div class="card-header ">
      <h1>{{notice.title}}</h1>

      <span *ngIf="notice.importanceLevel=='Urgent'"
            class="badge badge-danger pull-right align-self-center">Important</span>
      <span *ngIf="notice.importanceLevel=='Lenient'"
            class="badge badge-warning pull-right align-self-center">Lenient</span>
      <span *ngIf="notice.importanceLevel=='Normal'" class="badge badge-info pull-right align-self-center">Normal</span>
    </div>
    <div class="card-body">

      <img class="img-fluid rounded d-block mx-auto img-thumbnail" [src]="notice.imageString" alt="noticeImage"
           #uploadedPhoto>
    </div>

    <div class="card-text m-2">
    </div>
    <div class="card-text m-4">
      {{notice.noticeText}}
    </div>
  </div>
  <div class="card-footer text-center text-muted">
    Created By: {{notice.user}} | Date created: {{notice.dateCreated}}
  </div>
</div>

