<div class="container" *ngIf="pageNoticeDisplay">
  <app-notice *ngFor="let notice of pageNoticeDisplay.content" [notice]="notice"></app-notice>
  <div class="row mt-5">
    <div class="col d-flex justify-content-center">
      <ngb-pagination [collectionSize]="collectionSize" (pageChange)="onPageChange($event)"
                      [(page)]="page" aria-label="Default pagination"></ngb-pagination>
    </div>
  </div>
  <a *ngIf="roleState!=='ROLE_PARENT'" (click)="newNotice()" class="float">
    <i class="fa fa-plus my-float"></i>
  </a>
</div>
