.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: var(--background-color-main);
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-top: 22px;
}

ngb-pagination ::ng-deep .page-link {
  color: #6c757d;
}

ngb-pagination ::ng-deep .page-link:focus {
  box-shadow: 0 0 0 0.1rem var(--color-main-lighter) !important;
}

ngb-pagination ::ng-deep .page-item.disabled .page-link {
  color: #dee2e6 !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  border: 1px solid #dee2e6 !important;
  background-color: var(--background-color-main) !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem var(--color-main-lighter) !important;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem var(--color-main-lighter) !important;
}




