<div class="card mt-3" id="{{studentId}}" routerLink="/{{currentRole}}/student/{{studentId}}">
  <div class="card-body text-center">
    <img src="./assets/monster2.jpg" class="img-fluid" alt="monster">
    <p>{{studentName}}</p>
  </div>
</div>
