<div class="row mt-5">
  <div class="col-lg-2 col-sm-6 col-xs-12" *ngFor="let student of students">
    <app-student studentName="{{student.studentName}}" studentId="{{student.studentEMBG}}"></app-student>
  </div>
  <div *ngIf="students===undefined">
    <p>Click on a course to see the students attending it</p>
  </div>
  <div class="col" *ngIf="students!==undefined">
    <p *ngIf="students.length===0">No students are attending this course</p>
  </div>
</div>
