<div class="biggerBorder mt-5">
  <form (ngSubmit)="onSubmit()" #formElement="ngForm">
    <div class="form-group ">
      <div class="row">
        <div class="col-sm-3 col-xs-12 d-flex align-items-center">
          <label for="noticeTitle">Title:</label>
        </div>
        <div class="col-sm-9  col-xs-12">
          <input type="text" id="noticeTitle" name="noticeTitle" class="form-control" ngModel required
                 #noticeTitle="ngModel">
          <span *ngIf="noticeTitle.invalid && noticeTitle.touched" class="redAlert">This is a required field</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-3 col-xs-12 d-flex align-items-center">
          <label for="noticeBody">Body:</label>
        </div>
        <div class="col-sm-9  col-xs-12">
          <textarea id="noticeBody" rows="3" name="noticeBody" class="form-control" ngModel required
                    #noticeBody="ngModel"></textarea>
          <span *ngIf="noticeBody.invalid && noticeBody.touched"
                class="redAlert">Write the reason for the meeting</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-3 col-xs-12 d-flex align-items-center">
          <label for="importanceLevel">Importance:</label>
        </div>
        <div class="col-sm-9  col-xs-12">
          <select class="form-control" id="importanceLevel" name="importanceLevel" ngModel>
            <option>Normal</option>
            <option>Lenient</option>
            <option>Urgent</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12 d-flex align-items-center">
        <label for="custom-file-input">Photo:</label>
      </div>
      <div class="col-md-4 col-sm-9 col-xs-12">
        <div class="custom-file ">
          <input type="file" id="custom-file-input" class="custom-file-input " id="customFile"
                 (change)="handleFileInput($event)">
          <label class="custom-file-label" for="customFile">Choose photo</label>
        </div>
      </div>
      <div class="col-md-5 col-sm-12 col-xs-12">
        <img *ngIf="image" class="img-fluid img-thumbnail" [src]="image" alt="{{fileToSend.name}}" #uploadedPhoto>
      </div>
    </div>
    <button class="btn btn-primary mt-3" type="submit" [disabled]="!formElement.valid">Create Notice</button>
  </form>

</div>
