.btn-primary {
  background-color: var(--background-color-main);
  border-color: var(--color-main-lighter);
}

.btn-primary:hover {
  background-color: var(--background-color-main);
  opacity: 0.5;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: var(--background-color-main);
  border-color: var(--color-main-lighter);
  opacity: 0.8;
  box-shadow: 0 0 0 0.2rem var(--color-main-lighter);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  opacity: 0.8;
  background-color: var(--background-color-main);
  border-color: var(--background-color-main);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--background-color-main);
  border-color: var(--background-color-main);

}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--background-color-main);

}

.btn-outline-primary {
  color: var(--background-color-main);
  border-color: var(--background-color-main);
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: var(--background-color-main);
  border-color: var(--background-color-main);
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem var(--color-main-lighter);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: var(--background-color-main);
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--background-color-main);
  border-color: var(--background-color-main);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--color-main-lighter);
}

.form-control:focus {
  border-color: var(--color-main-lighter);
  box-shadow: 0 0 0 0.2rem var(--color-main-lighter);
}

.custom-file:focus, .custom-file::after, .custom-file::before, .custom-file:active, .custom-file:visited {
  outline: var(--background-color-main) auto 1px !important;
}

.custom-file-label:focus {
  outline: var(--background-color-main) auto 3px !important;

}

.custom-file-input:focus-within {
  outline: var(--background-color-main) auto 1px !important;
  box-shadow: 0 0 0 0.2rem var(--background-color-main);
}

::ng-deep div.ngb-dp-arrow > button, ::ng-deep div.ngb-dp-arrow > button:hover {
  color: var(--background-color-main);
}

::ng-deep .btn-link, ::ng-deep .btn-link:hover {
  color: var(--background-color-main);

}

::ng-deep .btn-link:focus {
  box-shadow: 0 0 0 0.2rem var(--color-main-lighter);
}

::ng-deep .ngb-tp-input:focus {
  border-color: var(--background-color-main);
  box-shadow: 0 0 0 0.2rem var(--color-main-lighter);
}

