<div class="container">
  <div class="row mt-4">
    <div class="col">
      <button *ngIf="roleState=='ROLE_PARENT'" class="btn btn-primary btn-rounded rounded-pill"
              (click)="onNewAbsenceCreate()">Create new absence
      </button>
    </div>
  </div>
  <div *ngIf="absences" class="row mt-4">
    <div *ngFor="let absence of absences" class="col-lg-4 col-sm-6 col-xs-12">
      <app-abscence-slot [absence]="absence"></app-abscence-slot>
    </div>
  </div>
  <div *ngIf="!absences">
    {{message}}
  </div>
</div>
