<div class="card text-center w-100">
  <div class="card-header">
    Meeting
  </div>
  <div class="card-body">
    <h5 class="card-title">{{meeting.dateTime}}</h5>
    <p *ngIf="meeting.parentOfTheMeeting !== ''">
      Invited: {{meeting.parentOfTheMeeting}}
    </p>
    <p *ngIf="meeting.teacherOfTheMeeting !== ''">
      From: {{meeting.teacherOfTheMeeting}}
    </p>
    <p class="card-text">
      Location: {{meeting.location}}
    </p>
    <p class="card-text">
      Reason: {{meeting.reason}}
    </p>
  </div>
  <div class="card-footer text-muted">
    Created {{meeting.dateCreated}}
  </div>
</div>



