.blogBorder {
  border: 1px solid #bfbfbf;
  box-shadow: 5px 10px #9e9d9d;
  border-radius: 24px;
}

img {
  border-radius: 24px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 200px;
  min-width: 100px;
  max-height: 150px;
  min-height: 100px;
}

.btn {
  margin: 5px;
}
