<div class="blogBorder row w-100 mt-5">
  <div class="col-3">
    <img src="{{notice.imageString}}" class="p-3" alt="notice post">
  </div>
  <div class="col-9">
    <div class="row mt-2">
      <div class="col">
        <h3>{{notice.title}}</h3>
      </div>
      <div class="col">
        <span class="badge badge-danger float-right"
              *ngIf="notice.importanceLevel === 'Urgent'">{{notice.importanceLevel}}</span>
        <span class="badge badge-success float-right"
              *ngIf="notice.importanceLevel === 'Normal'">{{notice.importanceLevel}}</span>
        <span class="badge badge-warning float-right"
              *ngIf="notice.importanceLevel === 'Lenient'">{{notice.importanceLevel}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>{{notice.noticeText.substr(0, 100)}} ...</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col">
        <span>{{notice.dateCreated}}</span>
      </div>
      <div class="col">
        <button class="btn float-right btn-outline-primary" (click)="viewMoreDetails(notice.id)">View More</button>
        <button *ngIf="roleState==='ROLE_ADMIN'" class="btn float-right btn-outline-danger"
                (click)="deleteNotice(notice.id)">Delete
        </button>
      </div>
    </div>
  </div>
</div>
