<div class="row mt-5">
  <div class="col-8">
    <h1>
      Maintain the parent teacher connection through your small screens
    </h1>
    <h5>
      Join us and the school will be closer than you think!
    </h5>
    <h4>
      Sign up as...
    </h4>
    <div class="row">
      <div class="col-auto roleSmallBox p-4 text-center" (click)="onTeacherRegister()">
        <img src="./assets/teach.png" alt="teacher" class="rounded-circle imgRole"/>
        <p class="emptyPara">Teacher</p>
      </div>
      <div class="col-auto roleSmallBox p-4 text-center" (click)="onParentRegister()">
        <img src="./assets/home.jpg" alt="house" class="rounded-circle imgRole"/>
        <p class="emptyPara">Parent</p>
      </div>
      <div class="col-auto roleSmallBox p-4 text-center" (click)="onAdminRegister()">
        <img src="./assets/adminka.png" alt="teacher" class="rounded-circle imgRole"/>
        <p class="emptyPara">School Admin</p>
      </div>
    </div>
  </div>
  <div class="col-4">

  </div>
</div>
<app-register-form></app-register-form>
<app-reigster-parent-form></app-reigster-parent-form>
<app-login-form></app-login-form>
