h1 {
  font-family: 'Montserrat', sans-serif;
  color: #280e3d;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  color: #c5b0d9;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: #280e3d;
}

.roleSmallBox {
  align-items: center;
  margin: 5px;
  color: #2c2a50;
  background-color: #fff;
  border-radius: 24px;
  /*box-shadow: 0 0 0 rgba(37,61,229,0);*/
  border: 2px solid #eaecf5;
  padding: 20px 5px;
  cursor: pointer;
}

.roleSmallBox:hover {
  box-shadow: 5px 10px #ded5e6;
}

.emptyPara {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #280e3d;
}

.imgRole {
  width: 100px;
  height: 70px;
  max-width: 100px;
  max-height: 100px;
}
