<div class="container">
  <div class="row">
    <div class="col-lg-2 col-sm-4 col-6" *ngFor="let course of courses$ | async">
      <app-teacher-course courseName="{{course.courseName}}" courseId="{{course.courseId}}"></app-teacher-course>
    </div>
  </div>
  <app-students></app-students>
</div>
