<div class="biggerBorder mt-5">
  <div class="form-group">
    <div class="row">
      <div class="col-3">
        <label for="noticeTitle">Teacher's Name:</label>
      </div>
      <div class="col">
        <input type="text" id="noticeTitle" name="noticeTitle" class="form-control"
               (input)="searchTeachers(searchTeachersBox.value)" [disabled]="disabled"
               #searchTeachersBox>
        <div class="list-group">
          <a class="list-group-item list-group-item-action"
             *ngFor="let teacher of teachers$|async" (click)="onTeacherSelected(teacher)">
            {{teacher.teacherFirstName}} ( {{teacher.teacherCode}} )
          </a>
        </div>
      </div>
    </div>
  </div>
  <p *ngIf="selectedCourses === undefined">Select a teacher and the corresponding courses for that teacher</p>
  <p *ngIf="selectedCourses !== undefined">Selected Courses:</p>
  <app-selected-courses></app-selected-courses>
  <button *ngIf="(selectedCourses !== undefined)" (click)="onAddCourses()" class="btn btn-primary ">Add Subjects
  </button>
  <app-add-courses [teacher]="teacher"></app-add-courses>

</div>
