<div class="container">
  <div class="row mt-4">
    <div class="col">
      <button *ngIf="roleState!=='ROLE_PARENT'" class="btn btn-primary btn-rounded rounded-pill"
              (click)="onNewMeetCreate()">Create new meeting
      </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-6 col-xs-12" *ngFor="let meeting of meetings$ | async">
      <app-meeting-slot [meeting]="meeting"></app-meeting-slot>
    </div>
  </div>
</div>
