<div class="container mt-5" *ngIf="student">
  <div class="row">
    <div class="col">
      <button *ngIf="roleState==='ROLE_TEACHER'" class="btn btn-primary rounded-pill" (click)="onGradeAdded(roleState)">
        View/Add grades
      </button>
      <button *ngIf="roleState!=='ROLE_TEACHER'" class="btn btn-primary rounded-pill" (click)="onGradeAdded(roleState)">
        View grades
      </button>
    </div>
  </div>
  <div class="form-group mt-3">
    <div class="row">
      <div class="col-3 d-flex align-items-center">
        <label for="studentName">Student Name</label>
      </div>
      <div class="col">
        <input type="text" disabled id="studentName" name="childName" class="form-control"
               value="{{student.studentName}}">
      </div>
    </div>
  </div>
  <div class="form-group" *ngFor="let parent of student.parents;let i = index">
    <div class="row">
      <div class="col-3 d-flex align-items-center">
        <label for="parentName">Parent {{i}} Name </label>
      </div>
      <div class="col">
        <input type="text" disabled id="parentName" name="parentName" class="form-control" value="{{parent}}">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-3 d-flex align-items-center">
        <label for="dateOfBirth">DOB</label>
      </div>
      <div class="col">
        <input type="text" disabled id="dateOfBirth" name="dob" class="form-control" value="{{student.studentDOB}}">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-3 d-flex align-items-center">
        <label for="gpa">GPA</label>
      </div>
      <div class="col">
        <input type="text" disabled id="gpa" name="gpa" class="form-control" value="{{student.gpa}}">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-3 d-flex align-items-center">
        <label for="joinDate">Date enrolled</label>
      </div>
      <div class="col">
        <input type="text" disabled id="joinDate" name="joinDate" class="form-control" value="{{student.dateEnrolled}}">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-3 d-flex align-items-center">
        <label for="year">Year enrolled in</label>
      </div>
      <div class="col">
        <input type="text" disabled id="year" name="schoolYear" class="form-control" value="{{student.schoolYear}}">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-3 d-flex align-items-center">
        <label for="group">Current group</label>
      </div>
      <div class="col">
        <input type="text" disabled id="group" name="schoolGroup" class="form-control" value="Group 3B">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Current Courses
    </div>
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let c of student.courses">{{c}}</li>
      </ul>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3">
      Current Teachers
    </div>
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let p of student.teachers">{{p}}</li>
      </ul>
    </div>
  </div>
</div>
