<div class="biggerBorder mt-5">
  <form (ngSubmit)="onSubmit()" #formElement="ngForm">
    <div class="form-group">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label for="studentEMBG">Student EMBG</label>
        </div>
        <div class="col">
          <input type="text" id="studentEMBG" name="studentEMBG"
                 class="form-control" ngModel required #studentEMBG="ngModel" (focusout)="onTypingFinish($event)">
          <span *ngIf="studentEMBG.invalid && studentEMBG.touched" class="redAlert">This is a required field</span>
        </div>
      </div>
    </div>
    <div class="form-group" *ngFor="let parent of parents$ | async; let i = index">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label for="parentName">Parent {{i + 1}} Full Name</label>
        </div>
        <div class="col">
          <input type="text" id="parentName" disabled name="parentName" class="form-control"
                 value="{{parent.parentFirstName + ' ' + parent.parentLastName}}">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label for="subject">Subject:</label>
        </div>
        <div class="col">
          <textarea id="subject" rows="3" name="subject" class="form-control" ngModel required
                    #subject="ngModel"></textarea>
          <span *ngIf="subject.invalid && subject.touched" class="redAlert">Write the reason for the meeting</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label for="place">Location:</label>
        </div>
        <div class="col">
          <select class="form-control" id="place" name="location" ngModel required #place="ngModel">
            <option>Classroom 1</option>
            <option>Teacher's Lounge</option>
            <option>Classroom 2</option>
            <option>School Hall</option>
            <option>Parents Room</option>
          </select>
          <span *ngIf="place.invalid && place.touched" class="redAlert">Choose a location</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label>Date:</label>
        </div>
        <div class="col">
          <div class="input-group">
            <input class="form-control " placeholder="yyyy-mm-dd"
                   name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-primary calendar" (click)="d.toggle()" type="button"><i
                class="fa fa-calendar"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <label>Time:</label>
        </div>
        <div class="col-3">
          <ngb-timepicker id="tp" name="tp" [(ngModel)]="time" [formControl]="ctrl" required></ngb-timepicker>
          <div *ngIf="ctrl.errors" class="redAlert">
            <div *ngIf="ctrl.errors[noValue]">Choose a time</div>
            <div *ngIf="ctrl.errors['invalidHour']">Choose a time between 07:00 and 20:00</div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!formElement.valid">Create Meeting</button>
  </form>
</div>
