<div class="row mt-4">
  <div class="col">
    <div class="input-group mb-3" *ngFor="let course of courses">
      <input type="text" id="{{course.courseId}}" class="form-control" aria-label="school course"
             aria-describedby="basic-addon2" value="{{course.courseName}}">
      <div class="input-group-append">
        <button class="btn btn-outline-danger" type="button" (click)="removeCourse(course)">Remove</button>
      </div>
    </div>
  </div>
</div>
