img {
  /*width: 100px;*/
  /*height: 70px;*/
  /*max-width: 100px;*/
  /*max-height: 100px;*/
}

.fontStyle {
  font-family: 'Montserrat', sans-serif;
}

form {
  width: 100%;
}

.redAlert {
  color: red;
  font-family: 'Montserrat', sans-serif;
}
