<div class="container mt-5 fontStyle">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <h4>Welcome to School Notices App! Please Log in with your credentials</h4>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <img src="./assets/hi-school.jpg" alt="wave" class="img-fluid">
    </div>
    <div class="col d-flex align-items-center">
      <form (ngSubmit)="onSubmit(logInForm)" id="logInForm" name="logInForm" #logInForm="ngForm">
        <div class="form-group">
          <div class="row">
            <div class="col-3 d-flex align-items-center">
              <label for="email">Email</label>
            </div>
            <div class="col">
              <input type="text" id="email" name="email" class="form-control" ngModel required email #email="ngModel">
            </div>
          </div>
          <span *ngIf="email.invalid && email.touched" class="redAlert">Please enter a valid email</span>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-3 d-flex align-items-center">
              <label for="password">Password</label>
            </div>
            <div class="col">
              <input type="password" id="password" name="password" class="form-control" ngModel required
                     #password="ngModel">
            </div>
          </div>
          <span *ngIf="password.invalid && password.touched" class="redAlert">This is a required field</span>
        </div>
        <p *ngIf="errorMessage" class="redAlert">You have entered wrong credentials please try again</p>
        <button class="btn btn-outline-success btn-block" type="submit" [disabled]="logInForm.invalid">
          Login
        </button>
      </form>
    </div>

  </div>

</div>
