<app-main-header></app-main-header>
<div class="container">
  <app-main-display></app-main-display>
</div>
<div class="bg-light">
  <div class="container" id="teacher">
    <app-teachers-info></app-teachers-info>
  </div>
</div>
<div class="container" id="parent">
  <app-parents-info></app-parents-info>
</div>



