<ng-template #logInModal let-modal>
  <div class="modal-header">
    Sign In
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-4 d-flex align-items-center justify-content-center">
        <img src="../../../assets/parent-teacher-bond.jpg" alt="" style="width: 150px">
      </div>
      <div class="col-8">
        <form (ngSubmit)="onSubmit(logInForm)" id="logInForm" name="logInForm" #logInForm="ngForm">
          <div class="form-group">
            <div class="row">
              <div class="col-3 d-flex align-items-center">
                <label for="email">Email</label>
              </div>
              <div class="col">
                <input type="text" id="email" name="email" class="form-control" ngModel required email #email="ngModel">
              </div>
            </div>
            <span *ngIf="email.invalid && email.touched" class="redAlert">Please enter a valid email</span>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-3 d-flex align-items-center">
                <label for="password">Password</label>
              </div>
              <div class="col">
                <input type="password" id="password" name="password" class="form-control" ngModel required password
                       #password="ngModel">
              </div>
            </div>
            <span *ngIf="password.invalid && password.touched" class="redAlert">This is a required field</span>
          </div>
          <p *ngIf="error" class="redAlert">You have entered wrong credentials please try again</p>
          <button class="btn btn-outline-success btn-block" type="submit" [disabled]="logInForm.invalid">
            Login
          </button>
        </form>
      </div>

    </div>
  </div>
</ng-template>
