label {
  font-family: 'Montserrat', sans-serif;
}

.modal-header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.redAlert {
  color: red;
  font-family: 'Montserrat', sans-serif;
}
