/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root{
  --color-admin:rgb(111, 91, 133);
  --color-admin-lighter:rgba(111, 91, 133,0.5);
  --color-teacher:rgb(152, 191, 136);
  --color-teacher-lighter:rgba(152, 191, 136,0.5);
  --color-parent:rgb(232, 204, 125);
  --color-parent-lighter:rgba(232, 204, 125,0.5);
    --background-color-main:rgb(152, 191, 136);
    --color-main-lighter: rgb(152, 191, 136);
  }
  
