<div class="row">
  <div class="col-12 col-md-6 pl-0 my-auto">
    <img class="image-fluid" src="assets/image-kids.webp">
  </div>
  <div class="col-12 col-md-6">
    <h3 class="mt-5">
      School information in your hand every moment
    </h3>
    <ul class="mt-4">
      <li>
        Check your child student progress any period for any term
      </li>
      <li>
        Be aware of important notices such as meetings or cancellations
      </li>
      <li>
        Be every step of the way with the school events, and manifestations
      </li>
    </ul>
    <div class="w-100 d-flex mt-4 justify-content-center">
      <button class="btn btn-lg btn-outline-success" (click)="onParentsJoin()">
        Join as parent
      </button>
    </div>
  </div>
</div>
