<nav class="navbar navbar-expand-sm navbar-custom navbar-light">
  <a class="navbar-brand" routerLink="/admin" *ngIf="roleState === 'ROLE_ADMIN' "><i
    class="fa fa-codepen fa-2x"></i></a>
  <a class="navbar-brand" routerLink="/teacher" *ngIf="roleState === 'ROLE_TEACHER' "><i
    class="fa fa-mortar-board fa-2x"></i></a>
  <a class="navbar-brand" routerLink="/parent" *ngIf="roleState === 'ROLE_PARENT' "><i
    class="fa fa-child fa-2x"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/teacher/notices" *ngIf="roleState==='ROLE_TEACHER'">Notices</a>
        <a class="nav-link" routerLink="/admin/notices" *ngIf="roleState==='ROLE_ADMIN'">Notices</a>
        <a class="nav-link" routerLink="/parent/notices" *ngIf="roleState==='ROLE_PARENT'">Notices</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" *ngIf="roleState==='ROLE_TEACHER'" routerLink="/teacher/meetings">Meetings</a>
        <a class="nav-link" *ngIf="roleState==='ROLE_PARENT'" routerLink="/parent/meetings">Meetings</a>
      </li>
      <li class="nav-item dropdown" *ngIf="roleState==='ROLE_ADMIN'">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Students
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
          <a class="dropdown-item" routerLink="/admin/studentsByCourse">Students By Course</a>
          <a class="dropdown-item" routerLink="/admin/newStudent">Add New Student</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="roleState === 'ROLE_ADMIN'">
        <a class="nav-link" routerLink="/admin/courses">Courses</a>
      </li>
      <li class="nav-item dropdown" *ngIf="roleState==='ROLE_TEACHER'">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          My School
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/teacher/courses">Courses</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="roleState==='ROLE_PARENT'">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStudent" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          My Students
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownStudent">
          <a class="dropdown-item" routerLink="/parent/student/{{student.studentEMBG}}"
             *ngFor="let student of students$|async">{{student.studentName}}</a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" *ngIf="roleState==='ROLE_TEACHER'" routerLink="/teacher/absences">Absences</a>
        <a class="nav-link" *ngIf="roleState==='ROLE_PARENT'" routerLink="/parent/absences">Absences</a>
      </li>
    </ul>
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit" (click)="onLoggingOut()">Log Out</button>
  </div>
</nav>
