<div class="row">
  <div class="col-12 col-md-6">
    <h3 class="mt-5">
      Share information from the classroom with the parents
    </h3>
    <ul class="mt-4">
      <li>
        Schedule meetings with the parents about their child progress
      </li>
      <li>
        Present the school development of your students to the parents
      </li>
      <li>
        Post important school notices important for every parent
      </li>
    </ul>
    <div class="w-100 d-flex mt-4 justify-content-center">
      <button class="btn btn-lg btn-outline-success" (click)="onTeacherJoin()">
        Join as teacher
      </button>
    </div>
  </div>
  <div class="col-12 col-md-6 pr-0 my-auto">
    <img class="image-fluid" src="assets/image-teacher.webp">
  </div>
